.header {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  @media (max-width: 500px) {

    padding: 1rem;
  }

  &-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-logo {
    display: flex;
    align-items: center;
    width: 13.2rem;
    height: 3.5rem;
    flex-shrink: 0;
    flex-grow: 0;
    @media (max-width: 360px) {
      width: 10rem;
    }
  }

  &-search {
    display: flex;
    align-items: center;
    position: relative;
    width: 10rem;
    transition: 0.5s ease-in-out;
    margin-right: 4rem;
    @media (max-width: 1200px) {
      margin-right: 2rem;
    }
    @media (max-width: 360px) {
      margin-right: 1rem;
    }

    &-input {
      width: 100%;
      border: none;
      padding-left: 3rem;
      font-family: "Inter", sans-serif;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      text-transform: uppercase;

      &::placeholder {
        color: #292929;
        font-family: "Inter", sans-serif;
        font-size: 1.3rem;
        font-style: normal;
        font-weight: 500;
        line-height: 160%;
        text-transform: uppercase;
      }
    }

    &-label {
      display: flex;
      width: 100%;
    }

    &-image {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2rem;
      height: 2rem;
      flex-shrink: 0;
      flex-grow: 0;
    }
  }

  &-list {
    display: flex;
    align-items: center;
  }

  &-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease;

    & > * {
      @media (max-width: 1024px) {
        width: 100%;
        margin-right: 0;
        margin-bottom: 0.5rem;
        margin-top: 0.5rem;
      }
    }

    & > *:not(:last-child) {
      margin-right: 4rem;
      @media (max-width: 1200px) {
        margin-right: 2rem;
      }
      @media (max-width: 1024px) {

        border-bottom: 1px solid #cecece;
        margin-right: 0;
      }
    }

    a {
      position: relative;
      display: block;
      color: #292929;
      font-family: Inter;
      font-size: 1.3rem;
      font-style: normal;
      font-weight: 500;
      line-height: 160%;
      text-transform: uppercase;
      transition: 0.5s ease;

      &:after {
        position: absolute;
        display: block;
        content: '';
        bottom: 0;
        left: 0;
        width: 0;
        height: 1px;
        background-color: #292929;
        transition: 0.5s ease;
      }

      &:hover:after {
        width: 100%;
      }

      @media (max-width: 1024px) {
        text-align: right;
        display: block;
        padding: 1rem;
      }
    }

    @media (max-width: 1024px) {
      position: absolute;
      padding: 2rem;
      width: 50%;
      top: 100%;
      right: 0;
      z-index: 10;
      flex-direction: column;
      align-items: flex-end;
      background-color: #fff;
      transform: translateY(-100%);
      opacity: 0;
      pointer-events: none;
    }

    &.active {
      @media (max-width: 1024px) {
        transform: translateY(0);
        opacity: 1;
        pointer-events: auto;
      }
      @media (max-width: 460px) {
        width: 100%;
      }
    }
  }
}

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  position: relative;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  cursor: pointer;
  @media (max-width: 1200px) {
    margin-left: 3rem;
  }
  @media (max-width: 500px) {
    margin-left: 0;
  }
  &-list {
    position: absolute;
    margin: 0 -1rem;
    z-index: 10;
    background-color: #fff;
    top: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 0.5s ease;
  }
  &-current {
    display: flex;
    align-items: center;
    justify-content: center;

    .icon {
      display: flex;
      margin-right: 0.8rem;
      width: 1.7rem;
      height: 1.7rem;
      flex-grow: 0;
      flex-shrink: 0;
      transition: 0.5s ease;
    }

  }
  &:hover {
    .language-switcher-list {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0);
    }

    .icon {
      transform: rotate(180deg);
    }
  }
  a {
    display: block;
    padding: 1rem;
  }
}

.burger {
  display: none;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #092939;
    transition: 0.5s ease;

    &:nth-child(2) {
      margin: auto;
    }
  }

  &.active {
    span {
      &:nth-child(1), &:nth-child(3) {
        opacity: 0;
      }
    }
  }

  @media (max-width: 1024px) {
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
  }
}