@charset "UTF-8";
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, h1, h2, h3, h4, h5, ol, p, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: 0.4s;
}

input {
  outline: none;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #FFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html, body {
  height: 100%;
  margin: 0;
}

main.content {
  flex: 1;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, 0.1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

input {
  width: 100%;
}

input.error, textarea.error {
  border-color: red;
  outline: none;
}

img.contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  position: relative;
}

.button {
  display: flex;
  min-width: 26rem;
  background: #092939;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  transition: 0.5s ease;
}
.button:hover {
  background-color: #216A8F;
}
.button-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.9rem;
  width: 5.8rem;
  height: 5.8rem;
  flex-shrink: 0;
  background: #216A8F;
}
.button-favorites:hover {
  background-color: #092939;
}

em, i {
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 153rem;
  margin: 0 auto;
}
@media (max-width: 1530px) {
  .container {
    padding: 0 1.6rem;
  }
}

.breadcrumbs {
  margin-bottom: 4rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs > * {
  position: relative;
  display: inline-block;
}
.breadcrumbs > *:not(:last-child) {
  margin-right: 1.3rem;
  padding-right: 1.3rem;
}
.breadcrumbs > *:not(:last-child):after {
  position: absolute;
  right: 0;
  top: 0;
  content: "/";
  display: inline-block;
}
.breadcrumbs a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.breadcrumbs a:hover {
  opacity: 1;
}

.title {
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .title {
    font-size: 3rem;
  }
}

.text {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.text > * {
  margin-bottom: 2rem;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/images/vendor/slick-slider/slick/ajax-loader.gif?fb6f3c230cb846e25247dfaa1da94d8f) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url(/fonts/vendor/slick-slider/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29);
  src: url(/fonts/vendor/slick-slider/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29?#iefix) format("embedded-opentype"), url(/fonts/vendor/slick-slider/slick/slick.woff?295183786cd8a138986521d9f388a286) format("woff"), url(/fonts/vendor/slick-slider/slick/slick.ttf?c94f7671dcc99dce43e22a89f486f7c2) format("truetype"), url(/fonts/vendor/slick-slider/slick/slick.svg?2630a3e3eab21c607e21576571b95b9d#slick) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.header {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .header {
    padding: 1rem;
  }
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  width: 13.2rem;
  height: 3.5rem;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (max-width: 360px) {
  .header-logo {
    width: 10rem;
  }
}
.header-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
  transition: 0.5s ease-in-out;
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-search {
    margin-right: 2rem;
  }
}
@media (max-width: 360px) {
  .header-search {
    margin-right: 1rem;
  }
}
.header-search-input {
  width: 100%;
  border: none;
  padding-left: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::-moz-placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-label {
  display: flex;
  width: 100%;
}
.header-search-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.header-list {
  display: flex;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
@media (max-width: 1024px) {
  .header-menu > * {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.header-menu > *:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-menu > *:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 1024px) {
  .header-menu > *:not(:last-child) {
    border-bottom: 1px solid #cecece;
    margin-right: 0;
  }
}
.header-menu a {
  position: relative;
  display: block;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.header-menu a:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #292929;
  transition: 0.5s ease;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 1024px) {
  .header-menu a {
    text-align: right;
    display: block;
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .header-menu {
    position: absolute;
    padding: 2rem;
    width: 50%;
    top: 100%;
    right: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .header-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 460px) {
  .header-menu.active {
    width: 100%;
  }
}

.language-switcher {
  margin-left: 5rem;
  position: relative;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .language-switcher {
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .language-switcher {
    margin-left: 0;
  }
}
.language-switcher-list {
  position: absolute;
  margin: 0 -1rem;
  z-index: 1;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 0.5s ease;
}
.language-switcher-current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-switcher-current .icon {
  display: flex;
  margin-right: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  flex-grow: 0;
  flex-shrink: 0;
  transition: 0.5s ease;
}
.language-switcher:hover .language-switcher-list {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.language-switcher:hover .icon {
  transform: rotate(180deg);
}
.language-switcher a {
  display: block;
  padding: 1rem;
}

.burger {
  display: none;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #092939;
  transition: 0.5s ease;
}
.burger span:nth-child(2) {
  margin: auto;
}
.burger.active span:nth-child(1), .burger.active span:nth-child(3) {
  opacity: 0;
}
@media (max-width: 1024px) {
  .burger {
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.main-section {
  padding: 1rem;
}
@media (min-height: 1081px) {
  .main-section {
    height: calc(100% - 2rem);
  }
}
.main-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-height: 1081px) {
  .main-items {
    height: 100%;
  }
}
.main-items__button {
  margin-left: 2rem;
}
.main-items__bottom {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1500px) {
  .main-items__bottom {
    flex-direction: column;
  }
}
.main-items__title {
  margin-right: auto;
  width: 100%;
  max-width: 38rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 5.6rem */
  letter-spacing: -0.035rem;
  text-transform: uppercase;
}
@media (max-width: 1500px) {
  .main-items__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1100px) {
  .main-items__title {
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  .main-items__title {
    font-size: 2.6rem;
  }
}
.main-items__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  width: 92rem;
  height: 85.5rem;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-items__item > * {
  position: relative;
}
.main-items__item:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background: lightgray 0% 0%/100px 100px repeat;
}
@media (min-height: 1081px) {
  .main-items__item {
    height: 100%;
  }
}
@media (min-width: 1921px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1899px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1640px) {
  .main-items__item {
    padding: 6rem 2rem;
  }
}
@media (max-width: 1500px) {
  .main-items__item {
    height: 62rem;
  }
}
@media (max-width: 1100px) {
  .main-items__item {
    padding: 2rem;
    height: 50rem;
  }
}
@media (max-width: 920px) {
  .main-items__item {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .main-items__item {
    height: 40rem;
  }
}
@media (max-width: 380px) {
  .main-items__item {
    height: 36rem;
  }
}
.main-items__head {
  width: 100%;
  margin-bottom: auto;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.main-items__head em {
  display: block;
  font-style: italic;
}

.single-main {
  display: flex;
}
.single-main > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 810px) {
  .single-main {
    flex-direction: column;
  }
}
.single-main-image-container {
  position: relative;
  width: 75rem;
  margin-right: 16rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.single-main-image-container .single-main__title {
  display: none;
}
@media (max-width: 810px) {
  .single-main-image-container .single-main__title {
    display: block;
    padding-top: 2rem;
  }
}
@media (max-width: 1366px) {
  .single-main-image-container {
    margin-right: 6rem;
  }
}
@media (max-width: 1200px) {
  .single-main-image-container {
    margin-right: 4rem;
  }
}
@media (max-width: 1050px) {
  .single-main-image-container {
    width: 60rem;
  }
}
@media (max-width: 900px) {
  .single-main-image-container {
    width: 50rem;
  }
}
@media (max-width: 810px) {
  .single-main-image-container {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .single-main-image-container {
    width: 100%;
  }
}
.single-main__image {
  position: absolute;
  z-index: 1;
  width: 75rem;
  height: 85rem;
}
@media (max-width: 1050px) {
  .single-main__image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 810px) {
  .single-main__image {
    position: relative;
  }
}
.single-main__image:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background: lightgray 0% 0%/10rem 10rem repeat;
}
.single-main-section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  min-height: 85rem;
  margin-bottom: 9.7rem;
}
@media (max-width: 1050px) {
  .single-main-section {
    min-height: auto;
    margin-bottom: 0;
  }
}
.single-main-section:after, .single-main-section:before {
  top: 0;
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  pointer-events: none;
}
.single-main-section:after {
  right: 0;
  width: 100%;
  background: rgba(215, 221, 234, 0.25);
}
.single-main-section:before {
  left: 0;
  width: 100%;
  max-width: 40%;
  background: #092939;
}
@media (max-width: 810px) {
  .single-main-section:before {
    max-width: 100%;
    height: 10rem;
  }
}
@media (max-width: 992px) {
  .single-main-section {
    padding-bottom: 2rem;
  }
}
.single-main-content {
  padding-top: 4.4rem;
}
@media (max-width: 810px) {
  .single-main-content .single-main__title {
    display: none;
  }
}
.single-main__title {
  margin-bottom: 2.5rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
.single-main__text {
  margin-bottom: 2.5rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.single-main__list {
  margin-bottom: 6rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.single-main__list > * {
  display: inline-block;
  width: 100%;
}
.single-main__list span {
  flex: 1;
  line-height: 175%;
  border-bottom: 1px dashed rgba(97, 102, 124, 0.3);
}
.single-main__list strong {
  color: #292929;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
.single-main__list li {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.single-main-controls {
  display: flex;
}
.single-main-controls > * {
  text-transform: uppercase;
}
.single-main-controls > *:not(:last-child) {
  margin-right: 1rem;
}

.single-about {
  display: flex;
  align-items: center;
}
@media (max-width: 730px) {
  .single-about {
    flex-direction: column;
  }
}
.single-about-content {
  width: 100%;
  max-width: 53rem;
  margin-right: 8rem;
}
@media (max-width: 930px) {
  .single-about-content {
    margin-right: 4rem;
  }
}
@media (max-width: 730px) {
  .single-about-content {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.single-about-section {
  padding: 12.5rem 0;
  background: rgba(215, 221, 234, 0.25);
  overflow: hidden;
}
@media (max-width: 730px) {
  .single-about-section {
    padding: 4rem 0;
  }
}
.single-about__title {
  margin-bottom: 2.5rem;
}
.single-about__text:not(:last-child) {
  margin-bottom: 4.5rem;
}
.single-about__controls {
  display: flex;
}
.single-about__button {
  text-transform: uppercase;
}
.single-about-gallery {
  position: absolute;
  left: 46.5%;
  display: flex;
  width: 124rem;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 1980px) {
  .single-about-gallery {
    left: 41.5%;
  }
}
@media (max-width: 1400px) {
  .single-about-gallery {
    left: 45%;
  }
}
@media (max-width: 1250px) {
  .single-about-gallery {
    left: 54%;
  }
}
@media (max-width: 1400px) {
  .single-about-gallery {
    width: 84rem;
  }
}
@media (max-width: 930px) {
  .single-about-gallery {
    position: static;
    width: 42rem;
  }
}
@media (max-width: 730px) {
  .single-about-gallery {
    width: 100%;
  }
}
.single-about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42rem;
  height: 58rem;
  padding: 0 1rem;
}
.single-about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 730px) {
  .single-about__image {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.single-about .slick-prev {
  z-index: 1;
}
@media (max-width: 730px) {
  .single-about .slick-prev {
    bottom: 0;
    top: auto;
    left: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #216A8F;
  }
  .single-about .slick-prev:before {
    content: "❮";
    color: #fff;
  }
}
.single-about .slick-next {
  right: 42.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #216A8F;
}
@media (max-width: 1400px) {
  .single-about .slick-next {
    right: 60rem;
  }
}
@media (max-width: 1250px) {
  .single-about .slick-next {
    right: 40rem;
  }
}
@media (max-width: 930px) {
  .single-about .slick-next {
    right: 38rem;
  }
}
@media (max-width: 730px) {
  .single-about .slick-next {
    bottom: 0;
    top: auto;
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }
}
.single-about .slick-next:before {
  content: "❯";
  color: #fff;
}

.single-offspring-section {
  padding: 12.5rem 0;
}
@media (max-width: 772px) {
  .single-offspring-section {
    padding: 3rem 0;
  }
}
.single-offspring__title {
  margin-bottom: 4.5rem;
}
.single-offspring__horses {
  margin-bottom: 5rem;
}

.footer {
  border: 1px solid rgba(97, 102, 124, 0.15);
  background: #092939;
}
.footer-main {
  width: 100%;
  max-width: 36rem;
}
@media (max-width: 1300px) {
  .footer-main {
    max-width: 30rem;
  }
}
@media (max-width: 680px) {
  .footer-main {
    max-width: 100%;
  }
}
.footer-main:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-main:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 680px) {
  .footer-main:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer-main__title {
  margin-bottom: 1.5rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-main__text {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footer-content-top {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 5.6rem;
  border-bottom: 1px solid rgba(215, 221, 234, 0.1);
}
@media (max-width: 1024px) {
  .footer-content-top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 680px) {
  .footer-content-top {
    justify-content: flex-start;
  }
}
@media (max-width: 460px) {
  .footer-content-top {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
.footer-content-bottom {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 520px) {
  .footer-content-bottom {
    flex-direction: column-reverse;
  }
}
@media (max-width: 460px) {
  .footer-content-bottom {
    padding: 1rem 0;
  }
}
.footer-column {
  font-family: "Inter", sans-serif;
}
.footer-column:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-column:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 460px) {
  .footer-column:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer-column__title {
  margin-bottom: 2rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-column-content {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content > * {
  margin-bottom: 1rem;
}
.footer-column-content a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content a:hover {
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
}
@media (max-width: 520px) {
  .footer-links {
    margin-bottom: 2rem;
  }
}
.footer-links a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-links a:hover {
  color: rgb(255, 255, 255);
}
.footer-links a:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 520px) {
  .footer-links a:not(:last-child) {
    margin-right: 2rem;
  }
}

.horses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.horse {
  display: flex;
  flex-direction: column;
  width: 49rem;
  padding-bottom: 3rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
@media (max-width: 1530px) {
  .horse {
    width: 32%;
  }
}
@media (max-width: 900px) {
  .horse {
    width: 49%;
  }
}
@media (max-width: 440px) {
  .horse {
    width: 100%;
  }
}
.horse__description {
  margin-bottom: 1rem;
  padding-right: 5rem;
}
@media (max-width: 900px) {
  .horse__description {
    padding-right: 1rem;
  }
}
.horse__value {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 175%;
}
@media (max-width: 900px) {
  .horse__value {
    padding-right: 1rem;
  }
}
.horse__value ul {
  display: flex;
  flex-wrap: wrap;
}
.horse__value li {
  position: relative;
}
.horse__value li:not(:last-child) {
  margin-right: 2.2rem;
  padding-right: 2.4rem;
}
@media (max-width: 550px) {
  .horse__value li:not(:last-child) {
    margin-right: 1rem;
    padding-right: 1.2rem;
  }
}
.horse__value li:not(:last-child):after {
  content: "•";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 0;
}
.horse__name {
  margin-bottom: 1rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
}
.horse__image {
  margin-bottom: 3rem;
  width: 100%;
  height: 53rem;
  flex-shrink: 0;
}
@media (max-width: 1530px) {
  .horse__image {
    height: auto;
  }
}
.horse__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
