b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, h1, h2, h3, h4, h5, ol, p, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: 0.4s;
}

input {
  outline: none;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

body {
  display: flex;
  flex-direction: column;
  background: #FFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html, body {
  height: 100%;
  margin: 0;
}

main.content {
  flex: 1;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, 0.1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

input {
  width: 100%;
}

input.error, textarea.error {
  border-color: red;
  outline: none;
}

img.contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  position: relative;
}

.button {
  display: flex;
  min-width: 26rem;
  background: #092939;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  transition: 0.5s ease;
}
.button:hover {
  background-color: #184155;
}

em, i {
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 153rem;
  margin: 0 auto;
}
@media (max-width: 1530px) {
  .container {
    padding: 0 1.6rem;
  }
}

.header {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .header {
    padding: 1rem;
  }
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  width: 13.2rem;
  height: 3.5rem;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (max-width: 360px) {
  .header-logo {
    width: 10rem;
  }
}
.header-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
  transition: 0.5s ease-in-out;
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-search {
    margin-right: 2rem;
  }
}
@media (max-width: 360px) {
  .header-search {
    margin-right: 1rem;
  }
}
.header-search-input {
  width: 100%;
  border: none;
  padding-left: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::-moz-placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-label {
  display: flex;
  width: 100%;
}
.header-search-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.header-list {
  display: flex;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
@media (max-width: 1024px) {
  .header-menu > * {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.header-menu > *:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-menu > *:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 1024px) {
  .header-menu > *:not(:last-child) {
    border-bottom: 1px solid #cecece;
    margin-right: 0;
  }
}
.header-menu a {
  position: relative;
  display: block;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.header-menu a:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #292929;
  transition: 0.5s ease;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 1024px) {
  .header-menu a {
    text-align: right;
    display: block;
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .header-menu {
    position: absolute;
    padding: 2rem;
    width: 50%;
    top: 100%;
    right: 0;
    z-index: 1;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    transform: translateX(100%);
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .header-menu.active {
    transform: translateX(0);
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 460px) {
  .header-menu.active {
    width: 100%;
  }
}

.language-switcher {
  margin-left: 5rem;
  position: relative;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .language-switcher {
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .language-switcher {
    margin-left: 0;
  }
}
.language-switcher-list {
  position: absolute;
  margin: 0 -1rem;
  z-index: 1;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 0.5s ease;
}
.language-switcher-current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-switcher-current .icon {
  display: flex;
  margin-right: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  flex-grow: 0;
  flex-shrink: 0;
  transition: 0.5s ease;
}
.language-switcher:hover .language-switcher-list {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.language-switcher:hover .icon {
  transform: rotate(180deg);
}
.language-switcher a {
  display: block;
  padding: 1rem;
}

.burger {
  display: none;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #092939;
  transition: 0.5s ease;
}
.burger span:nth-child(2) {
  margin: auto;
}
.burger.active span:nth-child(1), .burger.active span:nth-child(3) {
  opacity: 0;
}
@media (max-width: 1024px) {
  .burger {
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.main-section {
  padding: 1rem;
}
@media (min-height: 1081px) {
  .main-section {
    height: calc(100% - 2rem);
  }
}
.main-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-height: 1081px) {
  .main-items {
    height: 100%;
  }
}
.main-items__button {
  margin-left: 2rem;
}
.main-items__bottom {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1500px) {
  .main-items__bottom {
    flex-direction: column;
  }
}
.main-items__title {
  margin-right: auto;
  width: 100%;
  max-width: 38rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 5.6rem */
  letter-spacing: -0.035rem;
  text-transform: uppercase;
}
@media (max-width: 1500px) {
  .main-items__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1100px) {
  .main-items__title {
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  .main-items__title {
    font-size: 2.6rem;
  }
}
.main-items__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  width: 92rem;
  height: 85.5rem;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-items__item > * {
  position: relative;
}
.main-items__item:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background: lightgray 0% 0%/100px 100px repeat;
}
@media (min-height: 1081px) {
  .main-items__item {
    height: 100%;
  }
}
@media (min-width: 1921px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1899px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1640px) {
  .main-items__item {
    padding: 6rem 2rem;
  }
}
@media (max-width: 1500px) {
  .main-items__item {
    height: 62rem;
  }
}
@media (max-width: 1100px) {
  .main-items__item {
    padding: 2rem;
    height: 50rem;
  }
}
@media (max-width: 920px) {
  .main-items__item {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .main-items__item {
    height: 40rem;
  }
}
@media (max-width: 380px) {
  .main-items__item {
    height: 36rem;
  }
}
.main-items__head {
  width: 100%;
  margin-bottom: auto;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.main-items__head em {
  display: block;
  font-style: italic;
}

.footer {
  border: 1px solid rgba(97, 102, 124, 0.15);
  background: #092939;
}
.footer-main {
  width: 100%;
  max-width: 36rem;
}
@media (max-width: 1300px) {
  .footer-main {
    max-width: 30rem;
  }
}
@media (max-width: 680px) {
  .footer-main {
    max-width: 100%;
  }
}
.footer-main:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-main:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 680px) {
  .footer-main:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer-main__title {
  margin-bottom: 1.5rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-main__text {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footer-content-top {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 5.6rem;
  border-bottom: 1px solid rgba(215, 221, 234, 0.1);
}
@media (max-width: 1024px) {
  .footer-content-top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 680px) {
  .footer-content-top {
    justify-content: flex-start;
  }
}
@media (max-width: 460px) {
  .footer-content-top {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
.footer-content-bottom {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 520px) {
  .footer-content-bottom {
    flex-direction: column-reverse;
  }
}
@media (max-width: 460px) {
  .footer-content-bottom {
    padding: 1rem 0;
  }
}
.footer-column {
  font-family: "Inter", sans-serif;
}
.footer-column:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-column:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 460px) {
  .footer-column:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer-column__title {
  margin-bottom: 2rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-column-content {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content > * {
  margin-bottom: 1rem;
}
.footer-column-content a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content a:hover {
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
}
@media (max-width: 520px) {
  .footer-links {
    margin-bottom: 2rem;
  }
}
.footer-links a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-links a:hover {
  color: rgb(255, 255, 255);
}
.footer-links a:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 520px) {
  .footer-links a:not(:last-child) {
    margin-right: 2rem;
  }
}
