@charset "UTF-8";
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}

*, h1, h2, h3, h4, h5, ol, p, ul {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
}

div {
  display: block;
  unicode-bidi: isolate;
}

body {
  line-height: 1;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-rendering: geometricPrecision;
  overflow-x: hidden;
  word-break: normal;
  -webkit-font-smoothing: antialiased;
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
  font-size: inherit;
  color: inherit;
  transition: 0.4s;
}

input {
  outline: none;
}

.titillium-web-extralight {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.titillium-web-light {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.titillium-web-regular {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.titillium-web-bold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.titillium-web-black {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.titillium-web-extralight-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.titillium-web-light-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.titillium-web-regular-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.titillium-web-semibold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.titillium-web-bold-italic {
  font-family: "Titillium Web", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}

html {
  font-size: 10px;
}
@media (max-width: 1200px) {
  html {
    font-size: 9px;
  }
}

body {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #FFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
body:after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-color: rgba(0, 0, 0, 0);
}
body.open-modal {
  overflow: hidden;
}
body.open-modal .modal-window.open {
  z-index: 10;
}
body.open-modal:after {
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
}

html, body {
  height: 100%;
  margin: 0;
}

main.content {
  flex: 1;
}

img, svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, 0.1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}

input {
  width: 100%;
}

input.error, textarea.error {
  border-color: red;
  outline: none;
}

img.contain {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

section {
  position: relative;
}

.button {
  display: flex;
  min-width: 26rem;
  background: #092939;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  transition: 0.5s ease;
  border: none;
  outline: none;
  cursor: pointer;
}
.button:hover {
  background-color: #216A8F;
}
.button-favorites {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.9rem;
  width: 5.8rem;
  height: 5.8rem;
  flex-shrink: 0;
  background: #216A8F;
}
.button-favorites:hover {
  background-color: #092939;
}
.button-load-more {
  padding: 2rem 2.5rem;
  justify-content: space-between;
  color: #FFF;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 1.82rem */
  letter-spacing: 0.065rem;
  text-transform: uppercase;
}
.button-load-more .icon {
  display: block;
  width: 1.8rem;
  height: 1.8rem;
  flex-shrink: 0;
}

em, i {
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 153rem;
  margin: 0 auto;
}
@media (max-width: 1550px) {
  .container {
    padding: 0 1.6rem;
  }
}

.breadcrumbs {
  display: inline-block;
  margin-bottom: 4rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.breadcrumbs > * {
  position: relative;
}
.breadcrumbs > *:not(:last-child) {
  margin-right: 1.3rem;
  padding-right: 1.3rem;
}
.breadcrumbs > *:not(:last-child):after {
  position: absolute;
  right: 0;
  top: 0;
  content: "/";
  display: inline-block;
}
.breadcrumbs a {
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.6;
}
.breadcrumbs a:hover {
  opacity: 1;
}

.title {
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
@media (max-width: 414px) {
  .title {
    font-size: 3rem;
  }
}

.text {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.text > * {
  margin-bottom: 2rem;
}

.like {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  padding: 0.8px;
  width: 3.8rem;
  height: 3.8rem;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.25);
}
.like.active, .like:hover {
  background-color: #216A8F;
}

.tabs-head {
  display: flex;
  flex-wrap: wrap;
}
.tabs-head__item {
  display: inline-flex;
  padding: 2rem 2.5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: rgba(33, 106, 143, 0);
  color: #61667C;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: 0.065rem;
  text-transform: uppercase;
  transition: 0.5s ease;
}
@media (max-width: 360px) {
  .tabs-head__item {
    padding: 2rem;
  }
}
.tabs-head__item:hover {
  background: rgba(33, 106, 143, 0.4);
}
.tabs-head__item.active {
  background: #216a8f;
  color: #FFF;
}
.tabs-content {
  display: none;
}
.tabs-content.active {
  display: block;
}

/*======================================
  Selectric v1.13.0
======================================*/
.selectric-wrapper {
  position: relative;
  cursor: pointer;
}

.selectric-responsive {
  width: 100%;
}

.selectric {
  border: 1px solid #DDD;
  border-radius: 0px;
  background: #F8F8F8;
  position: relative;
  overflow: hidden;
}

.selectric .label {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 38px 0 10px;
  font-size: 12px;
  line-height: 38px;
  color: #444;
  height: 38px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.selectric .button {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 38px;
  height: 38px;
  line-height: 38px;
  background-color: #F8f8f8;
  color: #BBB;
  text-align: center;
  font: 0/0 a;
  *font: 20px/38px Lucida Sans Unicode, Arial Unicode MS, Arial;
}

.selectric .button:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 0;
  height: 0;
  border: 4px solid transparent;
  border-top-color: #BBB;
  border-bottom: none;
}

.selectric-focus .selectric {
  border-color: #aaaaaa;
}

.selectric-hover .selectric {
  border-color: #c4c4c4;
}

.selectric-hover .selectric .button {
  color: #a2a2a2;
}

.selectric-hover .selectric .button:after {
  border-top-color: #a2a2a2;
}

.selectric-open {
  z-index: 9999;
}

.selectric-open .selectric {
  border-color: #c4c4c4;
}

.selectric-open .selectric-items {
  display: block;
}

.selectric-disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.selectric-hide-select {
  position: relative;
  overflow: hidden;
  width: 0;
  height: 0;
}

.selectric-hide-select select {
  position: absolute;
  left: -100%;
}

.selectric-hide-select.selectric-is-native {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.selectric-hide-select.selectric-is-native select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border: none;
  z-index: 1;
  box-sizing: border-box;
  opacity: 0;
}

.selectric-input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  margin: 0 !important;
  padding: 0 !important;
  width: 1px !important;
  height: 1px !important;
  outline: none !important;
  border: none !important;
  *font: 0/0 a !important;
  background: none !important;
}

.selectric-temp-show {
  position: absolute !important;
  visibility: hidden !important;
  display: block !important;
}

/* Items box */
.selectric-items {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #F8F8F8;
  border: 1px solid #c4c4c4;
  z-index: -1;
  box-shadow: 0 0 10px -6px;
}

.selectric-items .selectric-scroll {
  height: 100%;
  overflow: auto;
}

.selectric-above .selectric-items {
  top: auto;
  bottom: 100%;
}

.selectric-items ul, .selectric-items li {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 12px;
  line-height: 20px;
  min-height: 20px;
}

.selectric-items li {
  display: block;
  padding: 10px;
  color: #666;
  cursor: pointer;
}

.selectric-items li.selected {
  background: #E0E0E0;
  color: #444;
}

.selectric-items li.highlighted {
  background: #D0D0D0;
  color: #444;
}

.selectric-items li:hover {
  background: #D5D5D5;
  color: #444;
}

.selectric-items .disabled {
  filter: alpha(opacity=50);
  opacity: 0.5;
  cursor: default !important;
  background: none !important;
  color: #666 !important;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.selectric-items .selectric-group .selectric-group-label {
  font-weight: bold;
  padding-left: 10px;
  cursor: default;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background: none;
  color: #444;
}

.selectric-items .selectric-group.disabled li {
  filter: alpha(opacity=100);
  opacity: 1;
}

.selectric-items .selectric-group li {
  padding-left: 25px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url(/images/vendor/slick-slider/slick/ajax-loader.gif?fb6f3c230cb846e25247dfaa1da94d8f) center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url(/fonts/vendor/slick-slider/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29);
  src: url(/fonts/vendor/slick-slider/slick/slick.eot?a4e97f5a2a64f0ab132323fbeb33ae29?#iefix) format("embedded-opentype"), url(/fonts/vendor/slick-slider/slick/slick.woff?295183786cd8a138986521d9f388a286) format("woff"), url(/fonts/vendor/slick-slider/slick/slick.ttf?c94f7671dcc99dce43e22a89f486f7c2) format("truetype"), url(/fonts/vendor/slick-slider/slick/slick.svg?2630a3e3eab21c607e21576571b95b9d#slick) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

.header {
  position: relative;
  width: 100%;
  padding: 2rem 4rem;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
@media (max-width: 500px) {
  .header {
    padding: 1rem;
  }
}
.header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-logo {
  display: flex;
  align-items: center;
  width: 13.2rem;
  height: 3.5rem;
  flex-shrink: 0;
  flex-grow: 0;
}
@media (max-width: 360px) {
  .header-logo {
    width: 10rem;
  }
}
.header-search {
  display: flex;
  align-items: center;
  position: relative;
  width: 10rem;
  transition: 0.5s ease-in-out;
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-search {
    margin-right: 2rem;
  }
}
@media (max-width: 360px) {
  .header-search {
    margin-right: 1rem;
  }
}
.header-search-input {
  width: 100%;
  border: none;
  padding-left: 3rem;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::-moz-placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-input::placeholder {
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.header-search-label {
  display: flex;
  width: 100%;
}
.header-search-image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  flex-shrink: 0;
  flex-grow: 0;
}
.header-list {
  display: flex;
  align-items: center;
}
.header-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease;
}
@media (max-width: 1024px) {
  .header-menu > * {
    width: 100%;
    margin-right: 0;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
}
.header-menu > *:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 1200px) {
  .header-menu > *:not(:last-child) {
    margin-right: 2rem;
  }
}
@media (max-width: 1024px) {
  .header-menu > *:not(:last-child) {
    border-bottom: 1px solid #cecece;
    margin-right: 0;
  }
}
.header-menu a {
  position: relative;
  display: block;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  transition: 0.5s ease;
}
.header-menu a:after {
  position: absolute;
  display: block;
  content: "";
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #292929;
  transition: 0.5s ease;
}
.header-menu a:hover:after {
  width: 100%;
}
@media (max-width: 1024px) {
  .header-menu a {
    text-align: right;
    display: block;
    padding: 1rem;
  }
}
@media (max-width: 1024px) {
  .header-menu {
    position: absolute;
    padding: 2rem;
    width: 50%;
    top: 100%;
    right: 0;
    z-index: 10;
    flex-direction: column;
    align-items: flex-end;
    background-color: #fff;
    transform: translateY(-100%);
    opacity: 0;
    pointer-events: none;
  }
}
@media (max-width: 1024px) {
  .header-menu.active {
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
}
@media (max-width: 460px) {
  .header-menu.active {
    width: 100%;
  }
}

.language-switcher {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5rem;
  position: relative;
  color: #292929;
  font-family: Inter;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
  cursor: pointer;
}
@media (max-width: 1200px) {
  .language-switcher {
    margin-left: 3rem;
  }
}
@media (max-width: 500px) {
  .language-switcher {
    margin-left: 0;
  }
}
.language-switcher-list {
  position: absolute;
  margin: 0 -1rem;
  z-index: 1;
  background-color: #fff;
  top: 100%;
  left: 0;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 0.5s ease;
}
.language-switcher-current {
  display: flex;
  align-items: center;
  justify-content: center;
}
.language-switcher-current .icon {
  display: flex;
  margin-right: 0.8rem;
  width: 1.7rem;
  height: 1.7rem;
  flex-grow: 0;
  flex-shrink: 0;
  transition: 0.5s ease;
}
.language-switcher:hover .language-switcher-list {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.language-switcher:hover .icon {
  transform: rotate(180deg);
}
.language-switcher a {
  display: block;
  padding: 1rem;
}

.burger {
  display: none;
}
.burger span {
  display: block;
  width: 100%;
  height: 2px;
  background-color: #092939;
  transition: 0.5s ease;
}
.burger span:nth-child(2) {
  margin: auto;
}
.burger.active span:nth-child(1), .burger.active span:nth-child(3) {
  opacity: 0;
}
@media (max-width: 1024px) {
  .burger {
    margin-left: 2rem;
    width: 3rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
  }
}

.main-section {
  padding: 1rem;
}
@media (min-height: 1081px) {
  .main-section {
    height: calc(100% - 2rem);
  }
}
.main-items {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
@media (min-height: 1081px) {
  .main-items {
    height: 100%;
  }
}
.main-items__button {
  margin-left: 2rem;
}
.main-items__bottom {
  display: flex;
  align-items: flex-end;
}
@media (max-width: 1500px) {
  .main-items__bottom {
    flex-direction: column;
  }
}
.main-items__title {
  margin-right: auto;
  width: 100%;
  max-width: 38rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 5.6rem */
  letter-spacing: -0.035rem;
  text-transform: uppercase;
}
@media (max-width: 1500px) {
  .main-items__title {
    margin-bottom: 2rem;
  }
}
@media (max-width: 1100px) {
  .main-items__title {
    font-size: 3rem;
  }
}
@media (max-width: 380px) {
  .main-items__title {
    font-size: 2.6rem;
  }
}
.main-items__item {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 6rem;
  width: 92rem;
  height: 85.5rem;
  margin: 1rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.main-items__item > * {
  position: relative;
}
.main-items__item:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background: lightgray 0% 0%/100px 100px repeat;
}
@media (min-height: 1081px) {
  .main-items__item {
    height: 100%;
  }
}
@media (min-width: 1921px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1899px) {
  .main-items__item {
    width: 48%;
  }
}
@media (max-width: 1640px) {
  .main-items__item {
    padding: 6rem 2rem;
  }
}
@media (max-width: 1500px) {
  .main-items__item {
    height: 62rem;
  }
}
@media (max-width: 1100px) {
  .main-items__item {
    padding: 2rem;
    height: 50rem;
  }
}
@media (max-width: 920px) {
  .main-items__item {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .main-items__item {
    height: 40rem;
  }
}
@media (max-width: 380px) {
  .main-items__item {
    height: 36rem;
  }
}
.main-items__head {
  width: 100%;
  margin-bottom: auto;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 180%;
}
.main-items__head em {
  display: block;
  font-style: italic;
}

.single-main {
  display: flex;
}
.single-main > * {
  position: relative;
  z-index: 1;
}
@media (max-width: 810px) {
  .single-main {
    flex-direction: column;
  }
}
.single-main-image-container {
  position: relative;
  width: 75rem;
  margin-right: 16rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.single-main-image-container .single-main__title {
  display: none;
}
@media (max-width: 810px) {
  .single-main-image-container .single-main__title {
    display: block;
    padding-top: 2rem;
  }
}
@media (max-width: 1366px) {
  .single-main-image-container {
    margin-right: 6rem;
  }
}
@media (max-width: 1200px) {
  .single-main-image-container {
    margin-right: 4rem;
  }
}
@media (max-width: 1050px) {
  .single-main-image-container {
    width: 60rem;
  }
}
@media (max-width: 900px) {
  .single-main-image-container {
    width: 50rem;
  }
}
@media (max-width: 810px) {
  .single-main-image-container {
    margin: 0 auto;
  }
}
@media (max-width: 480px) {
  .single-main-image-container {
    width: 100%;
  }
}
.single-main__image {
  position: absolute;
  z-index: 1;
  width: 75rem;
  height: 85rem;
}
@media (max-width: 1050px) {
  .single-main__image {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 810px) {
  .single-main__image {
    position: relative;
  }
}
.single-main__image:after {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.17;
  background: lightgray 0% 0%/10rem 10rem repeat;
}
.single-main-section {
  position: relative;
  padding-top: 4rem;
  padding-bottom: 8rem;
  min-height: 85rem;
  margin-bottom: 9.7rem;
}
@media (max-width: 1050px) {
  .single-main-section {
    min-height: auto;
    margin-bottom: 0;
  }
}
.single-main-section:after, .single-main-section:before {
  top: 0;
  position: absolute;
  content: "";
  display: block;
  height: 100%;
  pointer-events: none;
}
.single-main-section:after {
  right: 0;
  width: 100%;
  background: rgba(215, 221, 234, 0.25);
}
.single-main-section:before {
  left: 0;
  width: 100%;
  max-width: 40%;
  background: #092939;
}
@media (max-width: 810px) {
  .single-main-section:before {
    max-width: 100%;
    height: 10rem;
  }
}
@media (max-width: 992px) {
  .single-main-section {
    padding-bottom: 2rem;
  }
}
.single-main-content {
  padding-top: 4.4rem;
}
@media (max-width: 810px) {
  .single-main-content .single-main__title {
    display: none;
  }
}
.single-main__title {
  margin-bottom: 2.5rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
.single-main__text {
  margin-bottom: 2.5rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.single-main__list {
  margin-bottom: 6rem;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}
.single-main__list > * {
  display: inline-block;
  width: 100%;
}
.single-main__list span {
  flex: 1;
  line-height: 175%;
  border-bottom: 1px dashed rgba(97, 102, 124, 0.3);
}
.single-main__list strong {
  color: #292929;
  text-align: right;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
}
.single-main__list li {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.single-main-controls {
  display: flex;
}
.single-main-controls > * {
  text-transform: uppercase;
}
.single-main-controls > *:not(:last-child) {
  margin-right: 1rem;
}

.single-about {
  display: flex;
  align-items: center;
}
@media (max-width: 730px) {
  .single-about {
    flex-direction: column;
  }
}
.single-about-content {
  width: 100%;
  max-width: 53rem;
  margin-right: 8rem;
}
@media (max-width: 930px) {
  .single-about-content {
    margin-right: 4rem;
  }
}
@media (max-width: 730px) {
  .single-about-content {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 4rem;
  }
}
.single-about-section {
  padding: 12.5rem 0;
  background: rgba(215, 221, 234, 0.25);
  overflow: hidden;
}
@media (max-width: 730px) {
  .single-about-section {
    padding: 4rem 0;
  }
}
.single-about__title {
  margin-bottom: 2.5rem;
}
.single-about__text:not(:last-child) {
  margin-bottom: 4.5rem;
}
.single-about__controls {
  display: flex;
}
.single-about__button {
  text-transform: uppercase;
}
.single-about-gallery {
  position: absolute;
  left: 46.5%;
  display: flex;
  width: 124rem;
  flex-grow: 0;
  flex-shrink: 0;
}
@media (max-width: 1980px) {
  .single-about-gallery {
    left: 41.5%;
  }
}
@media (max-width: 1400px) {
  .single-about-gallery {
    left: 45%;
  }
}
@media (max-width: 1250px) {
  .single-about-gallery {
    left: 54%;
  }
}
@media (max-width: 1400px) {
  .single-about-gallery {
    width: 84rem;
  }
}
@media (max-width: 930px) {
  .single-about-gallery {
    position: static;
    width: 42rem;
  }
}
@media (max-width: 730px) {
  .single-about-gallery {
    width: 100%;
  }
}
.single-about-gallery:hover .slick-next {
  opacity: 1;
}
.single-about__image {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42rem;
  height: 58rem;
  padding: 0 1rem;
}
.single-about__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 730px) {
  .single-about__image {
    width: 100%;
    height: auto;
    padding: 0;
  }
}
.single-about .slick-prev {
  z-index: 1;
  display: none;
}
@media (max-width: 730px) {
  .single-about .slick-prev {
    display: block;
    bottom: 0;
    top: auto;
    left: 3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    flex-shrink: 0;
    background-color: #216A8F;
  }
  .single-about .slick-prev:before {
    content: "❮";
    color: #fff;
  }
}
.single-about .slick-next {
  opacity: 0;
  right: 42.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  flex-shrink: 0;
  background-color: #216A8F;
}
@media (max-width: 1400px) {
  .single-about .slick-next {
    right: 60rem;
  }
}
@media (max-width: 1250px) {
  .single-about .slick-next {
    right: 40rem;
  }
}
@media (max-width: 930px) {
  .single-about .slick-next {
    right: 38rem;
  }
}
@media (max-width: 730px) {
  .single-about .slick-next {
    opacity: 1;
    bottom: 0;
    top: auto;
    right: 3rem;
    width: 4rem;
    height: 4rem;
  }
}
.single-about .slick-next:before {
  content: "❯";
  color: #fff;
}

.single-offspring-section {
  padding: 12.5rem 0;
}
@media (max-width: 772px) {
  .single-offspring-section {
    padding: 3rem 0;
  }
}
.single-offspring__title {
  margin-bottom: 4.5rem;
}
.single-offspring__horses {
  margin-bottom: 5rem;
}
.single-offspring-tab {
  padding: 8rem 5rem;
  background: rgba(215, 221, 234, 0.25);
}
@media (max-width: 1530px) {
  .single-offspring-tab {
    padding: 5rem 5rem 5rem 2rem;
  }
}
@media (max-width: 320px) {
  .single-offspring-tab {
    padding-left: 1rem;
  }
}
.single-offspring-scheme {
  display: flex;
  overflow: auto;
}
.single-offspring-scheme-column {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 29rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.single-offspring-scheme-column:last-child {
  width: auto;
}
.single-offspring-scheme-column:last-child .single-offspring-scheme-item__content {
  position: static;
}
.single-offspring-scheme-column:last-child .single-offspring-scheme-item__head {
  width: 29rem;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 1rem;
}
.single-offspring-scheme-column:last-child .single-offspring-scheme-item__head:after {
  display: none;
}
.single-offspring-scheme-column:last-child .single-offspring-scheme-item {
  display: flex;
  align-items: center;
}
.single-offspring-scheme-column:nth-last-child(2) .single-offspring-scheme-item__content {
  position: absolute;
  width: 100%;
}
.single-offspring-scheme-column:nth-last-child(2) .single-offspring-scheme-item {
  margin-bottom: 0;
}
.single-offspring-scheme-column:first-child .single-offspring-scheme-item__head:before {
  display: none;
}
.single-offspring-scheme-column:not(:last-child) {
  margin-right: 3rem;
}
.single-offspring-scheme-column--quarter .single-offspring-scheme-item:nth-child(2) {
  margin-bottom: 5rem;
}
.single-offspring-scheme-item {
  width: 100%;
  position: relative;
  font-family: "Inter", sans-serif;
}
.single-offspring-scheme-item:hover .single-offspring-scheme-item__head:after {
  background: rgb(97, 102, 124);
}
.single-offspring-scheme-item.hovered .line {
  background: rgb(97, 102, 124);
}
.single-offspring-scheme-item.hovered .single-offspring-scheme-item__head:before {
  background: rgb(97, 102, 124);
}
.single-offspring-scheme-item:hover .single-offspring-scheme-item__head, .single-offspring-scheme-item.hovered .single-offspring-scheme-item__head {
  background-color: #292929;
  color: #FFFFFF;
}
.single-offspring-scheme-item:only-child .single-offspring-scheme-item__content {
  position: absolute;
  width: 100%;
}
.single-offspring-scheme-item:nth-child(4n):not(:last-child) {
  margin-bottom: 5rem;
}
.single-offspring-scheme-item:not(:last-child) {
  margin-bottom: 1rem;
}
.single-offspring-scheme-item__head {
  position: relative;
  display: flex;
  padding: 1rem 1.2rem;
  background: rgba(215, 221, 234, 0.4);
  color: #292929;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 175%;
  transition: 0.5s ease;
}
.single-offspring-scheme-item__head:after, .single-offspring-scheme-item__head:before {
  position: absolute;
  display: block;
  top: 50%;
  content: "";
  width: 1.5rem;
  height: 1px;
  background: rgba(97, 102, 124, 0.25);
  transition: 0.5s ease;
}
.single-offspring-scheme-item__head:after {
  left: 100%;
}
.single-offspring-scheme-item__head:before {
  right: 100%;
}
.single-offspring-scheme-item__head .icon {
  margin-right: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  flex-grow: 0;
  flex-shrink: 0;
}
.single-offspring-scheme-item__content {
  position: absolute;
  width: 100%;
  margin-top: 0.6rem;
  color: #092939;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%; /* 2.45rem */
}
.single-offspring-scheme-item .line {
  position: absolute;
  top: 50%;
  left: -1.5rem;
  width: 1px;
  display: block;
  background-color: rgba(97, 102, 124, 0.25);
  transition: 0.5s ease;
}

.single-news-section {
  padding-top: 7rem;
  padding-bottom: 12.5rem;
  background: rgba(215, 221, 234, 0.25);
}
@media (max-width: 630px) {
  .single-news-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.single-news-section:before {
  position: absolute;
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 55.5rem;
  height: 29rem;
  background: #092939;
}
@media (max-width: 630px) {
  .single-news-section:before {
    width: 68%;
  }
}
.single-news-section > * {
  position: relative;
}
.single-news-section-title {
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 6.4rem */
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
.single-news-section-head {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.single-news-section-link {
  display: flex;
  align-items: center;
  color: #292929;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
}
.single-news-section-link .icon {
  display: block;
  margin-left: 1rem;
  flex-shrink: 0;
  flex-grow: 0;
  width: 1.6rem;
  height: 1.6rem;
}

.footer {
  border: 1px solid rgba(97, 102, 124, 0.15);
  background: #092939;
}
.footer-main {
  width: 100%;
  max-width: 36rem;
}
@media (max-width: 1300px) {
  .footer-main {
    max-width: 30rem;
  }
}
@media (max-width: 680px) {
  .footer-main {
    max-width: 100%;
  }
}
.footer-main:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-main:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 680px) {
  .footer-main:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}
.footer-main__title {
  margin-bottom: 1.5rem;
  color: #FFF;
  font-family: "Titillium Web", sans-serif;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-main__text {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
}
.footer-content-top {
  display: flex;
  padding-top: 6rem;
  padding-bottom: 5.6rem;
  border-bottom: 1px solid rgba(215, 221, 234, 0.1);
}
@media (max-width: 1024px) {
  .footer-content-top {
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
@media (max-width: 680px) {
  .footer-content-top {
    justify-content: flex-start;
  }
}
@media (max-width: 460px) {
  .footer-content-top {
    padding-top: 2rem;
    padding-bottom: 0;
  }
}
.footer-content-bottom {
  padding: 2.5rem 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
@media (max-width: 520px) {
  .footer-content-bottom {
    flex-direction: column-reverse;
  }
}
@media (max-width: 460px) {
  .footer-content-bottom {
    padding: 1rem 0;
  }
}
.footer-column {
  font-family: "Inter", sans-serif;
}
.footer-column:not(:last-child) {
  margin-right: 10rem;
}
@media (max-width: 1024px) {
  .footer-column:not(:last-child) {
    margin-right: 4rem;
  }
}
@media (max-width: 460px) {
  .footer-column:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.footer-column__title {
  margin-bottom: 2rem;
  color: #FFF;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 500;
  line-height: 160%;
  text-transform: uppercase;
}
.footer-column-content {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content > * {
  margin-bottom: 1rem;
}
.footer-column-content a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-column-content a:hover {
  color: rgb(255, 255, 255);
}
.footer-links {
  display: flex;
}
@media (max-width: 520px) {
  .footer-links {
    margin-bottom: 2rem;
  }
}
.footer-links a {
  color: rgba(255, 255, 255, 0.65);
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
}
.footer-links a:hover {
  color: rgb(255, 255, 255);
}
.footer-links a:not(:last-child) {
  margin-right: 4rem;
}
@media (max-width: 520px) {
  .footer-links a:not(:last-child) {
    margin-right: 2rem;
  }
}

.horses {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.horse {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 49rem;
  padding-bottom: 3rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
@media (max-width: 1530px) {
  .horse {
    width: 32%;
  }
}
@media (max-width: 900px) {
  .horse {
    width: 49%;
  }
}
@media (max-width: 440px) {
  .horse {
    width: 100%;
  }
}
.horse__description {
  margin-bottom: 1rem;
  padding-right: 5rem;
}
@media (max-width: 900px) {
  .horse__description {
    padding-right: 1rem;
  }
}
.horse__value {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 175%;
}
@media (max-width: 900px) {
  .horse__value {
    padding-right: 1rem;
  }
}
.horse__value ul {
  display: flex;
  flex-wrap: wrap;
}
.horse__value li {
  position: relative;
}
.horse__value li:not(:last-child) {
  margin-right: 2.2rem;
  padding-right: 2.4rem;
}
@media (max-width: 550px) {
  .horse__value li:not(:last-child) {
    margin-right: 1rem;
    padding-right: 1.2rem;
  }
}
.horse__value li:not(:last-child):after {
  content: "•";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 0;
}
.horse__name {
  margin-bottom: 1rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
}
.horse__image {
  margin-bottom: 3rem;
  width: 100%;
  height: 53rem;
  flex-shrink: 0;
  overflow: hidden;
}
@media (max-width: 1530px) {
  .horse__image {
    height: auto;
  }
}
.horse__image:hover img {
  transform: scale(1.1);
}
.horse__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s ease;
}
.horse .like {
  position: absolute;
  z-index: 1;
  top: 2rem;
  right: 2rem;
}

.form {
  font-family: "Inter", sans-serif;
}
.form-group {
  width: 100%;
  margin-bottom: 1.5rem;
}
.form-group:not(:last-child) {
  margin-right: 1%;
}
.form-group__title {
  display: block;
  margin-bottom: 0.5rem;
  color: #292929;
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.form-group.third {
  width: 31%;
}
.form-group.third:not(:nth-child(3n)) {
  margin-right: 3%;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
}
.form-item:not(:last-child) {
  margin-bottom: 1.5rem;
  border-bottom: 1px solid rgba(97, 102, 124, 0.1);
}
.form-item__title {
  margin-bottom: 1.5rem;
  color: #292929;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 500;
  line-height: 175%; /* 2.8rem */
}
.form-controls {
  color: #61667C;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
.form-controls a {
  color: #216A8F;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration-line: underline;
}
.form-controls > *:not(:last-child) {
  margin-bottom: 1.5rem;
}
.form-controls .button {
  margin-top: 5rem;
}
.form-checkbox-container {
  display: flex;
  line-height: 2.7rem;
}
.form-checkbox-container > * {
  display: inline-block;
}
.form-checkbox-container a {
  margin: 0 5px;
  line-height: 2.7rem;
}
.form input[type=checkbox] + .icon {
  margin-right: 1.5rem;
  width: 2.7rem;
  height: 2.7rem;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid rgba(97, 102, 124, 0.3);
  background: #FFF;
}
.form input[type=checkbox] {
  display: none;
}

input {
  width: 100%;
  padding: 1.5rem;
  box-sizing: border-box;
  border: 1px solid rgba(97, 102, 124, 0.2);
  background: #FFF;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input::-moz-placeholder {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input::placeholder {
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
input.error {
  border-color: red;
}

.selectric {
  border: 1px solid rgba(97, 102, 124, 0.2);
  background: #FFF;
}
.selectric .label {
  height: 4.7rem;
  line-height: 4.7rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 400;
}
.selectric .button {
  min-width: auto !important;
  height: 4.7rem;
  background: #FFF;
}

.modal-window {
  display: none;
  font-family: "Inter", sans-serif;
  width: 100%;
  max-width: 85rem;
  max-height: 100vh;
  overflow: auto;
  background: #F5F6FA;
}
.modal-window__title {
  display: block;
  padding: 3.5rem;
  border-bottom: 1px solid rgba(97, 102, 124, 0.1);
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
}
@media (max-width: 720px) {
  .modal-window__title {
    padding: 1.5rem;
  }
}
.modal-window.open {
  display: block;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.modal-window .close-modal {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 1rem;
  top: 1rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 3rem;
}

@media (max-width: 630px) {
  .order-window .form-group {
    width: 100%;
    margin-right: 0;
  }
  .order-window .form-group.third {
    width: 100%;
    margin-right: 0;
  }
}
@media (max-width: 380px) {
  .order-window .form-controls .button {
    width: 100%;
  }
}
.order-form {
  padding: 3.5rem;
  padding-top: 1.5rem;
}
@media (max-width: 720px) {
  .order-form {
    padding: 1.5rem;
  }
}

.news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}
.news-item {
  display: flex;
  flex-direction: column;
  width: 49rem;
  padding-bottom: 3rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
@media (max-width: 1530px) {
  .news-item {
    width: 32%;
  }
}
@media (max-width: 900px) {
  .news-item {
    width: 49%;
  }
}
@media (max-width: 440px) {
  .news-item {
    width: 100%;
  }
}
.news-item-list {
  margin-bottom: 1.5rem;
  color: #61667C;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 400;
  line-height: 175%;
}
.news-item-list ul {
  display: flex;
  flex-wrap: wrap;
}
.news-item-list li {
  position: relative;
}
.news-item-list li:not(:last-child) {
  margin-right: 2.2rem;
  padding-right: 2.4rem;
}
@media (max-width: 550px) {
  .news-item-list li:not(:last-child) {
    margin-right: 1rem;
    padding-right: 1.2rem;
  }
}
.news-item-list li:not(:last-child):after {
  content: "•";
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%) translateX(50%);
  right: 0;
}
.news-item__image {
  width: 100%;
  height: 38rem;
  margin-bottom: 3.5rem;
  flex-shrink: 0;
}
@media (max-width: 1530px) {
  .news-item__image {
    height: auto;
  }
}
.news-item__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.news-item__title {
  margin-bottom: 1rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 1.9rem;
  font-style: normal;
  font-weight: 600;
  line-height: 145%;
  text-transform: uppercase;
}
.news-item__description {
  margin-top: auto;
  margin-bottom: 2.5rem;
}
.news-item__link {
  width: 1.8rem;
  height: 1.8rem;
}

.archive-news-section {
  padding-top: 4.5rem;
  padding-bottom: 12.5rem;
}
@media (max-width: 1024px) {
  .archive-news-section {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
.archive-head {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .archive-head {
    flex-direction: column;
  }
}
.archive-head__title {
  margin-right: 2rem;
  color: #292929;
  font-family: "Titillium Web", sans-serif;
  font-size: 4rem;
  font-style: normal;
  font-weight: 600;
  line-height: 160%; /* 6.4rem */
  letter-spacing: -0.04rem;
  text-transform: uppercase;
}
.archive-head__title:last-child {
  margin: 0;
}
@media (max-width: 1024px) {
  .archive-head__title {
    margin-bottom: 3rem;
    font-size: 3.4rem;
  }
}
.archive-head__description {
  width: 100%;
  max-width: 62rem;
  color: #61667C;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
}
.archive-head-section {
  padding-top: 3.5rem;
  padding-bottom: 4.5rem;
  background: rgba(215, 221, 234, 0.25);
}
.archive-head-section .breadcrumbs {
  color: #262C40;
  margin-bottom: 4rem;
}
.archive-head-section .breadcrumbs a {
  color: #61667C;
}

.pagination-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5rem;
}
