html {
  font-size: 10px;
  @media (max-width: 1200px) {
    font-size: 9px;
  }
}
body {
  background: #FFF;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "slnt" 0;

}

img, svg {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.not-active {
  pointer-events: none;
  opacity: 0.6;
  transition: 0.3s ease;
}

.preloader img {
  max-width: 100%;
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.preloader {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 2rem;
  background-color: rgba(0, 122, 255, .1);
  opacity: 0;
  transition: 0.1s ease;
  pointer-events: none;
  z-index: 1;
}

.preloader.active {
  transform: translate(-50%, -50%);
  opacity: 1;
  z-index: 20;
}
input {
  width: 100%;
}
input.error, textarea.error {
  border-color: red;
  outline: none;
}

img.contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

img.cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


section {
  position: relative;
}

.button {
  display: flex;
  min-width: 26rem;
  background: #092939;
  padding: 1.6rem 2rem;
  justify-content: center;
  align-items: center;
  color: #FFF;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 175%;
  transition: 0.5s ease;
  &:hover {
    background-color: #184155;
  }
}

em, i  {
  font-style: italic;
}

.container {
  width: 100%;
  max-width: 153rem;
  margin: 0 auto;
  @media (max-width: 1530px) {
    padding: 0 1.6rem;
  }
}